.scroll-small {
    max-height: 300px;
    overflow-y: auto;
  
  }
  .scroll-small::-webkit-scrollbar { 
    width: 8px; 
    background: #fafafa;
  }
  .scroll-small::-webkit-scrollbar-thumb {
    background: #d0d0d0;
  } 
  
  .scroll-small::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
  .scroll-big {
    max-height: 550px;
    overflow-y: auto;
  
  }
  .scroll-big::-webkit-scrollbar { 
    width: 8px; 
    background: #fafafa;
  }
  .scroll-big::-webkit-scrollbar-thumb {
    background: #d0d0d0;
  } 
  
  .scroll-big::-webkit-scrollbar-thumb:hover {
    background: #888;
  }