body{
  background: #F8F8F8;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.scroll-small {
  max-height: 420px;
  overflow-y: auto;

}
.scroll-small::-webkit-scrollbar { 
  display: none; 
} 

.scroll-big {
  max-height: 500px;
  overflow-y: auto;
}

.cardheight {
  height: 80px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 5px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

ul#leftSideBar {
  display: inline-block;
  text-align: center;
}

.opacity-0 {
  opacity:0;
}
.opacity-1 {
  opacity:0.2;
}
.opacity-2 {
  opacity:0.4;
}
.opacity-3 {
  opacity:0.6;
}
.opacity-4 {
  opacity:.8;
}
.opacity-5 {
  opacity:1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}